*
{
  margin:0px;
   
}

@font-face {
    font-family: 'airstreamregular';
    src: url('Airstream-webfont.eot');
    src: url('Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('Airstream-webfont.woff2') format('woff2'),
         url('Airstream-webfont.woff') format('woff'),
         url('Airstream-webfont.ttf') format('truetype'),
         url('Airstream-webfont.svg#airstreamregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'airstreamregular', sans-serif;
  width: 100%;
  height: 100%;
}
/*header*/
header
{
  background-color: #3BA461;
}

header h1
{
	color: #FAD803;
	text-align: center;
}

h1
{
	padding: 30px 0px 30px 0px;
}

/*barre de recherche*/


.input
{
	border:2px grey solid;
	outline: none;
	padding: 10px 20px;

}

.searchbar
{
	position:relative;
	background-color: #AEB9B2; 
}

.searchbtn
{
	background-color: yellow;
	width: 5%;
	font-size: 20px;
}

.searchbtn:hover
{
	transform: scale(1.03);
}

/*body*/
main
{
	width: 100%;
	

}

main div
{
	display: flex;
	justify-content: center;
	text-align: center;
}

main section
{
	width: 40%;
	height: 60%;
	border:2px black groove;
	padding: 30px 10px 30px 10px;
	margin: 30px 10px 0px 10px;
	border-radius: 4px;

}

main > div:nth-child(2)
{
	margin-bottom: 30px;
}

section p 
{
	padding:10px 0px 100px 0px;

}

section > h2:not(first-child)
{
	padding:100px 0px 0px 0px;
}

.menu1
{
	background-color: #FB9DCF;
	display: flex;
	flex-direction: column;
}

.menu1 a
{
	color:black;
}

.menu2
{
	background-color: #FFE1BF;
	color: #0685B6;
}

.menu2 a
{
	color: #FF2000;
}

.menu3
{
	background-color: #E1F2FE;
	color: #0685B6;
}

.menu3 a
{
	color: #0685B6;
}

.menu4
{
	background-color: #FCFFB8;
	color:#06B60C;
}

.menu4 a
{
	color:#06B60C;
}

.menu1, .menu3
{
	margin-left: 40px;
}

.menu2, .menu4
{
	margin-right: 40px;
}

p a
{
	text-decoration: none;

}

/*bouton prochainement*/

main button
{
	width: 100%;
	display: flex;
	justify-content: center;
	
}

button
{
	border:none;
	width: 30%;
	background-color: #3BA461;
	padding:5px;
	margin: 10px 10px 10px 10px;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}

button:hover
{
	transform: scale(1.03);
}

button h3
{
	color: #FAD803;
}

/*footer*/

footer
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #3BA461;
}

footer > h3
{
	color: #FAD803;

}

h3 a
{
	text-decoration: none;
	padding: 10px 10px 10px 10px;
}




